.custom-component.warning {
  color: red;
}
a.btn-custom.test-button {
  background-color: --var(--danger);
  color: --var(--tertiary);
}
.custom-welcome-banner {
    background-color: red;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
